.titrejaune {
    color: yellow;
}
.titrerouge {
    color: red;
}
.resultat {
    padding: 10px;
    margin-top: 10px;
    border: 2px solid black;
    background-color: rgb(12, 102, 12);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #283645;
    overflow: hidden;
}
li {
    float: left;

}
li a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}

li a:hover {
    background-color: #1490D7;
}

h1 {
    color: #1490D7;
}